head {
	font: normal 15px Verdana;
}

body {
	margin-top: 70px;
	font: normal 12px Verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

#topmenu1 
{
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	width: auto;
	clear: both;
    background-color:#000;
    padding:0px;/*changing its value will give menu margins to its container*/
    text-align:center;
}

#topmenu11left
{
    float: left;
}

#topmenu11right
{
    float: right;
    margin:0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    font-size:0;
    color:999;
}

#topmenu11rightitem
{
    border-left:solid thin;
    border-left-color:white;
}

#topmenu11right ul, #topmenu11right li
{
    display: inline;
    list-style-type: none;
}
        
#topmenu11right a
{
    width:250px;
    text-align: center;
    display: inline-block;
    font: normal 19px Verdana;
    padding: 19px 0px;/*This defines the size of each menu item*/
    color: white;
    text-decoration: none;
}
        
#topmenu11right a:hover, #topmenu11 a.current, #sidemenu11 a:hover, #sidemenu11 a.current
{
    color: #999;
    border-color:#ffffff;
}

#sidemenu1
{
    position: fixed;
    right: 0px;
    top: 62px;
    float: right;
    width: auto;
    clear: both;
    background-color:#000;
}

#sidemenu11
{
    text-align: center;
}

#sidemenu11 a
{
    display: inline-block;
    font: normal 19px Verdana;
    padding: 19px 0px;/*This defines the size of each menu item*/
    color: white;
    text-decoration: none;
    width:250px;
    border-top:solid thin;
    border-color: white;
}

#galerycontainer {
    margin-left:2%;
    margin-top:2%;
    float: left;
}

div.img {
    width: 23.7%;
    /*min-height: 120px;*/
    max-height: auto;
    margin:.4%;
    float: left;
    text-align: center;
}

div.img img {
    max-width: 100%;
    height: auto;
}


div.img a:hover img {
}

div.desc a:hover{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
    color: rgba(0, 0, 0, 1);
}

div.desc{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
    color: rgba(0, 0, 0, 0);

}
