{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" ng-app="galaxymodule">

<head>
    <link rel="stylesheet" href="{% static 'arkiwimain/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'arkiwimain/css/galery.css' %}" />
    <link data-require="bootstrap-css@3.x" data-semver="3.0.3" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />


    <title>{% block title %}arKiwi{% endblock %}</title>
    {% block meta %}{% endblock %}

        <div id="mainmenucontainer">

			<div class="menutopbox">
                <a href="{% url "index"%}"><img src="{% static 'arkiwimain/images/arkiwi.png' %}" width="100%" height="100%" align="middle"></a>
			</div>

            <ul class="menutopbox">
                    <li><a href="{% url "index"%}">arkiwi</a>
                        <ul>
                            <li><a href="{% url "index"%}" class="submenu-item">about</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "index"%}">search</a></li>
                    <li><a href="{% url "detail"%}">edit</a></li>
                    <li><a href="{% url "djangulartests"%}">js-tests</a></li>
                    <li><a href="{% url "index"%}">login</a></li>
            </ul>

		</div>
</head>

<body>
    <div id="galerycontainer">
    <div>
        {% block content %}
        {% endblock %}
    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.10.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="{% static 'arkiwimain/js/arkangular.js' %}"></script>


</body>

</html>