#galerycontainer {
    float: left;
    margin-top:30px;
    margin-left:90px;
}

div.img {
    width: 23.7%;
    /*min-height: 120px;*/
    margin:.4%;
    float: left;
    text-align: center;
}

div.img img {
    max-width: 100%;
    height: auto;
}

div.img a:hover img {
}

div.desc a:hover{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
    color: rgba(0, 0, 0, 1);
}

div.desc{
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
    color: rgba(0, 0, 0, 0);
}